@tailwind base;
@tailwind components;
@tailwind utilities;


/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --primary-color: #42bfe8;
  --primar-color-dark: #2789cd;
  --secondary-color: #f6d896;
  --white-color: #ffffff;
  --brown-color: #92796e;
  --bg-color: #171717;
  --bg-black-light: #2b2b2b;

  /*========== Font and Typography ==========*/
  --body-ff: 'VT323', monospace;
  --biggest-fs: calc(112rem / 16);
  --bigger-fs: calc(60rem / 16);
  --bigger-mobile-fs: calc(44rem / 16);
  --average-fs: calc(32rem / 16);
  --normal-fs: calc(24rem / 16);
  --regular-fs: calc(18rem / 16);
  --small-fs: calc(16rem / 16);
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-ff);
  font-size: var(--regular-fs);
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--white-color);
  line-height: 1.35;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.container {
  max-width: calc(1440rem / 16);
  width: min(100% - calc(32rem / 16));
  margin: 0 auto;
}

/*=============== Header ===============*/
.header {
  padding: calc(24rem / 16) 0 0 0;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
  padding: 0 calc(48rem / 16);
}

.header-logo {
  width: calc(88rem / 16);
}

.header-navbar {
  display: flex;
  align-items: center;
  gap: calc(56rem / 16);
  transition: all 300ms ease-in-out;
}

.header-navlink {
  font-size: var(--normal-fs);
}

.header-socials {
  display: flex;
  align-items: center;
  gap: calc(16rem / 16);
}

.header-hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  width: calc(36rem / 16);
  height: calc(36rem / 16);
  cursor: pointer;
}

.header-hamburger > svg {
  width: 100%;
  height: 100%;
}

/*=============== Hero ===============*/
.hero {
  margin-top: calc(120rem / 16);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
}

.hero-wrapper {
  max-width: calc(860rem / 16);
  width: 100%;
  margin: 0 auto;
}

.hero-left-decorator {
  width: calc(234rem / 16);
}

.hero-right-decorator {
  width: calc(234rem / 16);
}

.hero-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(12rem / 16);
}

.hero-slider-lg {
  width: calc(224rem / 16);
  height: calc(224rem / 16);
  border-radius: calc(8rem / 16);
}

.hero-slider-md {
  width: calc(165rem / 16);
  height: calc(165rem / 16);
  border-radius: calc(8rem / 16);
}

.hero-slider-sm {
  width: calc(130rem / 16);
  height: calc(130rem / 16);
  border-radius: calc(8rem / 16);
}

/*=============== Coming-Soon ===============*/
.coming-soon {
  margin-top: calc(24rem / 16);
  margin-bottom: calc(120rem / 16);
}

.coming-soon-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(16rem / 16);
  padding: 0 calc(48rem / 16);
}

.coming-soon-right-decorator {
  width: calc(180rem / 16);
  align-self: flex-end;
}

.coming-soon-left-decorator {
  width: calc(180rem / 16);
}

.coming-soon-wrapper {
  max-width: calc(860rem / 16);
  width: 100%;
  margin: 0 auto;
}

.coming-soon-subtitle {
  font-size: var(--average-fs);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: var(--secondary-color);
}

.coming-soon-title {
  font-size: var(--biggest-fs);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: var(--primary-color);
}

.coming-soon-text {
  margin-top: calc(12rem / 16);
  text-align: center;
  text-transform: capitalize;
}

.coming-soon-text-br {
  display: block;
  margin-top: calc(32rem / 16);
}

.coming-soon-guide {
  max-width: calc(465rem / 16);
  width: 100%;
  margin: 0 auto;
  margin-top: calc(32rem / 16);
}

.coming-soon-guide-text {
  text-align: center;
  text-transform: capitalize;
}

.coming-soon-guide-text-br {
  display: block;
  margin-top: calc(4rem / 16);
}

.coming-soon-guide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(16rem / 16);
  margin: calc(32rem / 16) 0;
}

.coming-soon-guide-box-images {
  display: flex;
  align-items: center;
  gap: calc(8rem / 16);
}

.coming-soon-guide-box-images > img {
  width: calc(100rem / 16);
  height: calc(100rem / 16);
  border-radius: calc(8rem / 16);
}

.coming-soon-guide-coin {
  width: calc(112rem / 16);
  margin: 0 auto;
  margin-top: calc(40rem / 16);
}

/*=============== Bears-Slider ===============*/
.bears-slider {
  padding: calc(50rem / 16) 0;
  position: relative;
}

.bears-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(60rem / 16);
}

.bears-slider-content-text {
  font-size: var(--average-fs);
  line-height: 1.1;
}

.bears-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to bottom, #fff 100%, #6c4ffe 200%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    );
}

.bears-slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to bottom, #fff 100%, #6c4ffe 200%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    );
}

.bears-slider-image {
  width: 95%;
  border-radius: calc(8rem / 16);
  /* object-fit: cover; */
}

.bears-slide-heart {
  display: block;
  margin-top: calc(16rem / 16);
}

/*=============== FAQ ===============*/
.faq {
  margin-top: calc(120rem / 16);
}

.faq-wrapper {
  padding: 0 calc(48rem / 16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
}

.faq-right-decorator {
  width: calc(300rem / 16);
}

.faq-left-decorator {
  width: calc(300rem / 16);
}

.faq-accordion {
  max-width: calc(700rem / 16);
  width: 100%;
  margin: 0 auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
}

.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
  cursor: pointer;
  padding: calc(20rem / 16);
  border-radius: 8px;
  border: solid 2px rgba(218, 236, 243, 0.5);
  background-color: var(--bg-black-light);
  font-size: var(--normal-fs);
}

.accordion-panel {
  padding: calc(20rem / 16);
  border-radius: 8px;
  border: solid 2px rgba(218, 236, 243, 0.5);
  background-color: var(--bg-black-light);
  font-size: var(--normal-fs);
  margin-top: calc(8rem / 16);
}

.faq-title {
  font-size: var(--bigger-fs);
  font-weight: 400;
  text-align: center;
  margin-bottom: calc(24rem / 16);
}

.faq-sperator {
  margin-top: calc(270rem / 16);
  height: calc(65rem / 16);
  background-color: var(--brown-color);
  width: 100%;
  position: relative;
}

.faq-seprator-image {
  width: calc(435rem / 16);
  position: absolute;
  top: -156px;
  left: 50%;
  transform: translateX(-50%);
}

/*=============== About ===============*/
.about {
  margin-top: calc(120rem / 16);
}

.about-wrapper {
  max-width: calc(860rem / 16);
  width: 100%;
  margin: 0 auto;
}

.about-title {
  font-size: var(--bigger-fs);
  font-weight: 400;
  text-align: center;
  margin-bottom: calc(20rem / 16);
}

.about-text {
  font-size: var(--normal-fs);
  text-align: center;
  opacity: 0.7;
}

.about-members {
  margin-top: calc(50rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(16rem / 16);
}

.about-member-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: calc(12rem / 16);
}

.about-member-card-image {
  width: calc(200rem / 16);
  height: calc(200rem / 16);
  border-radius: calc(8rem / 16);
  object-fit: cover;
}

.about-member-card-title {
  font-size: var(--average-fs);
  color: var(--primar-color-dark);
}

.about-member-card-text {
  font-size: var(--average-fs);
  color: var(--secondary-color);
}

/*=============== Contact ===============*/
.contact {
  margin-top: calc(120rem / 16);
  padding-bottom: calc(50rem / 16);
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(48rem / 16);
  gap: calc(16rem / 16);
}

.contact-left-decorator {
  width: calc(350rem / 16);
}

.contact-right-decorator {
  width: calc(350rem / 16);
}

.contact-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(16rem / 16);
}

.contact-title {
  font-size: var(--average-fs);
  font-weight: 400;
  text-align: center;
}

.contact-email {
  font-size: var(--normal-fs);
  font-weight: 400;
  text-align: center;
}

.contact-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(16rem / 16);
}

/*=============== Footer ===============*/
.footer {
  padding: calc(24rem / 16) 0;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to bottom, #fff 100%, #6c4ffe 200%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    );
}

.footer-text {
  text-align: center;
  font-size: var(--regular-fs);
}

/*=============== No Match ===============*/
.no-match {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(32rem / 16);
  padding: 0 calc(32rem / 16);
}

.no-match-title {
  color: var(--primary-color);
  font-size: var(--bigger-fs);
  font-weight: 400;
  text-align: center;
}

.no-match-text {
  text-align: center;
}

.no-match-btn {
  font-size: var(--normal-fs);
  background-color: #92796e;
  padding: calc(10rem / 16) calc(16rem / 16);
  width: calc(150rem / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(8rem / 16);
  line-height: 1;
}

/*=============== Hero-Mint ===============*/
.hero-mint-content {
  display: flex;
  justify-content: space-between;
  gap: calc(16rem / 16);
}

.hero-mint {
  max-width: calc(700rem / 16);
  width: 100%;
  margin: 0 auto;
}

.hero-mint-box {
  border: 2px solid rgba(218, 236, 243, 0.5);
  border-radius: calc(8rem / 16);
  padding: calc(24rem / 16);
  margin-top: calc(32rem / 16);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  background-color: var(--bg-black-light);
}

.hero-mint-title {
  font-size: var(--biggest-fs);
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
}

.hero-mint-text {
  font-size: var(--regular-fs);
  text-align: center;
}

.hero-mint-box-title {
  font-size: var(--bigger-mobile-fs);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.hero-mint-box-text {
  font-size: var(--small-fs);
  text-align: center;
  margin-top: calc(4rem / 16);
}

.hero-mint-field {
  margin-top: calc(24rem / 16);
}

.hero-mint-total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(4rem / 16);
}

.hero-mint-no-field {
  max-width: calc(500rem / 16);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(8rem / 16);
}

.hero-mint-no-field > input {
  flex: 1;
  display: block;
  background-color: transparent;
  border: 0;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  padding: calc(16rem / 16);
  height: calc(70rem / 16);
  text-align: center;
  font-size: var(--small-fs);
  font-weight: 400;
  color: var(--white-color);
}

.hero-mint-no-field > input::-webkit-outer-spin-button,
.hero-mint-no-field > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hero-mint-no-field > input[type='number'] {
  -moz-appearance: textfield;
}

.hero-mint-no-field > input:focus-visible {
  outline: none;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.hero-mint-no-less {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100rem / 16);
  height: calc(70rem / 16);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-top-left-radius: calc(8rem / 16);
  border-bottom-left-radius: calc(8rem / 16);
  font-size: var(--small-fs);
  font-weight: 400;
  color: var(--white-color);
  cursor: pointer;
}

.hero-mint-no-less:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
  border-right-color: var(--white-color);
}

.hero-mint-no-more:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
  border-right-color: var(--white-color);
}

.hero-mint-no-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100rem / 16);
  height: calc(70rem / 16);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-top-right-radius: calc(8rem / 16);
  border-bottom-right-radius: calc(8rem / 16);
  font-size: var(--small-fs);
  font-weight: 400;
  color: var(--white-color);
  cursor: pointer;
}

.hero-mint-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: calc(56rem / 16);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: calc(8rem / 16);
  font-size: var(--normal-fs);
  font-weight: 400;
  color: var(--white-color);
  cursor: pointer;
  margin: 0 auto;
  margin-top: calc(24rem / 16);
  transition: all 250ms ease-in;
}

.hero-mint-btn:hover {
  background-color: var(--primar-color-dark);
}

.hero-mint-btn:focus-visible {
  background-color: var(--primar-color-dark);
  outline: none;
}

.mint-slider {
  margin-top: calc(120rem / 16);
}

/*=============== Media Queries ===============*/
@media (max-width: calc(1400rem/16)) {
  .hero-right-decorator,
  .hero-left-decorator {
    width: calc(174rem / 16);
  }

  .hero-slider-lg {
    width: calc(194rem / 16);
    height: calc(194rem / 16);
  }

  .hero-slider-md {
    width: calc(130rem / 16);
    height: calc(130rem / 16);
  }

  .hero-slider-sm {
    width: calc(90rem / 16);
    height: calc(90rem / 16);
  }

  .coming-soon-right-decorator,
  .coming-soon-left-decorator {
    width: calc(155rem / 16);
  }

  .faq-right-decorator,
  .faq-left-decorator {
    width: calc(200rem / 16);
  }
}

@media (max-width: calc(1100rem/16)) {
  .header-content,
  .coming-soon-content,
  .faq-wrapper,
  .contact-wrapper {
    padding: 0;
  }

  .hero-slider-sm {
    display: none;
  }

  .coming-soon-title {
    font-size: var(--bigger-fs);
  }

  .hero-mint-title {
    font-size: var(--bigger-fs);
  }

  .hero-mint-box-title {
    font-size: var(--average-fs);
  }

  .faq-right-decorator,
  .faq-left-decorator {
    width: calc(100rem / 16);
  }

  .contact-left-decorator,
  .contact-right-decorator {
    width: calc(235rem / 16);
  }
}

@media (max-width: calc(900rem/16)) {
  .faq,
  .about,
  .contact,
  .mint-slider {
    margin-top: calc(60rem / 16);
  }

  .hero {
    margin-top: 0;
  }

  .hero-left-decorator,
  .hero-right-decorator {
    display: none;
  }

  .coming-soon-left-decorator,
  .coming-soon-right-decorator {
    display: none;
  }

  .coming-soon {
    margin-bottom: calc(60rem / 16);
  }

  .bears-slider {
    padding: calc(32rem / 16) 0;
  }

  .bears-slider-content {
    margin-top: calc(25rem / 16);
  }

  .faq-right-decorator,
  .faq-left-decorator {
    display: none;
  }

  .header-navbar {
    gap: calc(32rem / 16);
  }
}

@media (max-width: calc(767rem/16)) {
  .contact-left-decorator,
  .contact-right-decorator {
    display: none;
  }

  .header-socials {
    display: none;
  }

  .header-hamburger {
    display: block;
  }

  .header {
    padding-bottom: calc(24rem / 16);
  }

  .header-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-black-light);
    border-bottom: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    padding: calc(16rem / 16) calc(32rem / 16);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    gap: calc(16rem / 16);
    z-index: 999;
  }

  .header-navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media (max-width: calc(600rem/16)) {
  .faq-title,
  .about-title {
    font-size: var(--bigger-mobile-fs);
  }

  .no-match-title {
    font-size: var(--average-fs);
  }
}

@media (max-width: calc(524rem/16)) {
  .hero-slider-md {
    display: none;
  }

  .hero-slider-lg {
    width: calc(330rem / 16);
    height: calc(330rem / 16);
  }

  .about-members {
    flex-direction: column;
  }

  .faq-sperator {
    margin-top: calc(190rem / 16);
    height: calc(47rem / 16);
  }

  .faq-seprator-image {
    width: calc(335rem / 16);
    top: -121px;
  }

  .coming-soon-guide-box {
    flex-direction: column;
    gap: calc(40rem / 16);
  }

  .coming-soon-guide-box-arrow {
    transform: rotate(90deg);
  }

  .bears-slider-content-text {
    font-size: var(--normal-fs);
  }
}
