/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --primary-color: #42bfe8;
  --primar-color-dark: #2789cd;
  --secondary-color: #f6d896;
  --white-color: #ffffff;
  --bg-color: #171717;

  /*========== Font and Typography ==========*/
  --body-ff: 'VT323', monospace;
  --biggest-fs: calc(112rem / 16);
  --bigger-fs: calc(60rem / 16);
  --average-fs: calc(32rem / 16);
  --normal-fs: calc(24rem / 16);
  --regular-fs: calc(18rem / 16);
  --small-fs: calc(16rem / 16);
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-ff);
  font-size: var(--small-fs);
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--white-color);
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.container {
  max-width: calc(1440rem / 16);
  width: min(100% - calc(32rem / 16));
  margin: 0 auto;
}

/*=============== Header ===============*/
.header {
  padding: calc(24rem / 16) 0 0 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
  padding: 0 calc(48rem / 16);
}

.header-logo {
  width: calc(88rem / 16);
}

.header-navbar {
  display: flex;
  align-items: center;
  gap: calc(56rem / 16);
}

.header-navlink {
  font-size: var(--normal-fs);
}

.header-socials {
  display: flex;
  align-items: center;
  gap: calc(16rem / 16);
}

/*=============== Hero ===============*/
.hero {
  margin-top: calc(120rem / 16);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(16rem / 16);
}

.hero-wrapper {
  max-width: calc(860rem / 16);
  width: 100%;
  margin: 0 auto;
}

.hero-left-decorator {
  width: calc(234rem / 16);
}

.hero-right-decorator {
  width: calc(234rem / 16);
}

.hero-slider {
  display: flex;
  align-items: center;
  gap: calc(12rem / 16);
}

.hero-slider-lg {
  width: calc(224rem / 16);
  height: calc(224rem / 16);
  border-radius: calc(8rem / 16);
}

.hero-slider-md {
  width: calc(165rem / 16);
  height: calc(165rem / 16);
  border-radius: calc(8rem / 16);
}

.hero-slider-sm {
  width: calc(130rem / 16);
  height: calc(130rem / 16);
  border-radius: calc(8rem / 16);
}

/*=============== Coming-Soon ===============*/
.coming-soon {
  margin-top: calc(24rem / 16);
  margin-bottom: calc(120rem / 16);
}

.coming-soon-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(16rem / 16);
  padding: 0 calc(48rem / 16);
}

.coming-soon-right-decorator {
  width: calc(180rem / 16);
  align-self: flex-end;
}

.coming-soon-left-decorator {
  width: calc(180rem / 16);
}

.coming-soon-wrapper {
  max-width: calc(860rem / 16);
  width: 100%;
  margin: 0 auto;
}

.coming-soon-subtitle {
  font-size: var(--average-fs);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: var(--secondary-color);
}

.coming-soon-title {
  font-size: var(--biggest-fs);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: var(--primary-color);
}

.coming-soon-text {
  margin-top: calc(12rem / 16);
  text-align: center;
  text-transform: capitalize;
}

.coming-soon-text-br {
  display: block;
  margin-top: calc(32rem / 16);
}

.coming-soon-guide {
  max-width: calc(420rem / 16);
  width: 100%;
  margin: 0 auto;
  margin-top: calc(32rem / 16);
}

.coming-soon-guide-text {
  text-align: center;
  text-transform: capitalize;
}

.coming-soon-guide-text-br {
  display: block;
  margin-top: calc(4rem / 16);
}

.coming-soon-guide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(16rem / 16);
  margin: calc(32rem / 16) 0;
}

.coming-soon-guide-box-images {
  display: flex;
  align-items: center;
  gap: calc(8rem / 16);
}

.coming-soon-guide-box-images > img {
  width: calc(100rem / 16);
  height: calc(100rem / 16);
  border-radius: calc(8rem / 16);
}

/*=============== Bears-Slider ===============*/
.bears-slider {
  padding: calc(50rem / 16) 0;
  position: relative;
}

.bears-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(60rem / 16);
}

.bears-slider-content-text {
  font-size: var(--average-fs);
}

.bears-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to bottom, #fff 100%, #6c4ffe 200%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    );
}

.bears-slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to bottom, #fff 100%, #6c4ffe 200%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    );
}

.bears-slider-image {
  width: 95%;
  height: calc(200rem / 16);
  border-radius: calc(8rem / 16);
  object-fit: cover;
}

.bears-slide-heart {
  display: block;
  margin-top: calc(20rem / 16);
}
